@import "settings";
@import "foundation";

$dark_bg: rgb(44, 151, 201);
$light_bg: #CFF0FF;

.loading {
  display: block;
  height: 24px;
  width: 24px;
  background: url('loading.gif') no-repeat;
}

.top-bar [class^="fi-"] {
  font-size: 20px;
}

.settingsRow {
  background: $dark_bg;
  color: white;
  h1,h2,h3,h4,h5,h6,label {
    color: white;
  }
}

.animate-show {
  padding: 20px 0px 20px 0px;
  max-height: 800px;
  overflow: hidden;

  -webkit-transition: all 500ms !important;
  transition: all 500ms !important;

  display:block !important;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
}

.animate-show.ng-hide {
  max-height: 0;
  padding: 0px 0px 0px 0px;
}

.mainContents {
  padding: 20px 0px 20px 0px;
}

.nodeList,
.packageList {
  padding: 4px 0px 4px 0px;
  cursor: pointer;
  &:hover {
    background: $light_bg;
  }
}