@import "settings";
@import "foundation";

// kuler color configuration:
// https://kuler.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=0&name=My%20Kuler%20Theme&mode=rgb&rgbvalues=0,0.47707006369437294,0.7,0.17254901960784313,0.592156862745098,0.788235294117647,0,0.6815286624205328,1,0.7,0.3821514508140126,0,1,0.545930644020018,0&swatchOrder=0,1,2,3,4
// complementary color picks
$color1_fg: #007AB2;
$color1_bg: #2C97C9;
$color2_fg: #B26100;
$color2_bg: #FF8B00;
// outlier for hovering
$light_bg: #CFF0FF;

.loading {
  display: block;
  height: 16px;
  width: 16px;
  background: url('loading.gif') no-repeat;
  background-size: 100%;
}

.top-bar [class^="fi-"] {
  font-size: 20px;
}

.settingsRow {
  background: $color1_bg;
  color: white;
  h1,h2,h3,h4,h5,h6,label {
    color: white;
  }
}

.animate-show {
  padding: 20px 0px 20px 0px;
  max-height: 800px;
  overflow: hidden;

  -webkit-transition: all 500ms !important;
  transition: all 500ms !important;

  display:block !important;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
}

.animate-show.ng-hide {
  max-height: 0;
  padding: 0px 0px 0px 0px;
}

.mainContents {
  padding: 20px 0px 20px 0px;
}

.nodeList,
.packageList {
  padding: 4px 0px 4px 0px;
  cursor: pointer;
  &:hover {
    background: $light_bg;
  }
  &.selected-true {
    color: $color1_fg;
  }
}

.nodeDetails,
.packageDetails {
  font-size: small;
  padding: 5px 0 10px 0;
  .row .columns:before {
    content: "├──";
    padding: 0 10px 0 0;
  }
  .row:last-child .columns:before {
    content: "└──";
  }
}

.packageMirrorFilter {
  background: $color1_bg;
}

#ddPackageMirror {
  :hover {
    background: $light_bg;
  }
  .selected-true {
    color: $color1_fg;
  }
}