<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Postrider</title>

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/app.css" />
    <link rel="stylesheet" href="styles/foundation-icons.css" />
    <!-- endbuild -->

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  </head>
  <body ng-app="postriderApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

  <div ng-controller="MainCtrl">

    <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Postrider</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a ng-click="toggleShow('nav', 'repos')" href="#">Repositories</a></li>
          <li><a ng-click="toggleShow('nav', 'config')" class="fi-widget settingsButton" href="#"></a></li>
        </ul>
      </section>
    </nav>
    </div>

    <div id="repoConfig" class="centered-text settingsRow animate-show ng-hide" ng-show="show.nav == 'repos'">
      <div class="row">
        <div class="small-12 columns">
          <h4>Repository configuration<small><a ng-click="newRepo()" class="fi-page-add addButton" href="#"></a></small></h4>
        </div>
      </div>
      <!-- newly created repos -->
      <div class="row">
        <div class="small-12 columns repoList">
          <div class="row" data-ng-repeat="m in newRepos" ng-show="newRepos.length > 0">
            <div class="small-12 large-6 columns editRepo">

                <div class="row">
                  <div class="small-12 columns inputLine">
                    <label>Name: </label>
                    <input type="text" class="name len-{{m.name.length}}" ng-model="m.name">
                  </div>
                </div>

                <div class="row">
                  <div class="small-12 columns inputLine">
                    <label>Label: </label>
                    <input type="text" class="label len-{{m.label.length}}" ng-model="m.label">
                  </div>
                </div>

                <div class="row">
                  <div class="small-12 columns inputLine">
                    <label>URL: </label>
                    <input type="text" class="label len-{{m.url.length}}" ng-model="m.url">
                    <select ng-model="m.provider" for="right-label" class="right inline" style="width: 20%">
                      <option value="apt">apt</option>
                    </select>
                  </div>
                </div>

                <div class="icons">
                  <a ng-click="saveRepo(m)" class="fi-save saveButton" href="#"></a>
                  <a ng-click="cancelEditRepo(m)" class="fi-x exitButton" href="#"></a>
                </div>

              </div>

          </div>
        </div>
      </div>

      <!-- currently active + editing repos -->
      <div class="row">
        <div class="small-12 columns repoList">
          <span ng-show="repos.length === undefined || repos.length === 0" >
            <div class="row">
              <div class="small-12 large-6 columns">
                no repositories found
              </div>
            </div>
          </span>
          <span data-ng-repeat="m in repos" ng-show="repos.length > 0">
            <div class="row" ng-click="editRepo(m)" ng-show="editingRepo[m.id] === undefined">
              <div class="small-12 large-6 columns entry">
                {{m.name}}
              </div>
            </div>
            <div class="row" ng-show="editingRepo[m.id] !== undefined">

              <div class="small-12 large-6 columns editRepo">

                <div class="row">
                  <div class="small-12 columns inputLine">
                    <label>Name: </label>
                    <input type="text" class="name len-{{editingRepo[m.id].name.length}}" ng-model="editingRepo[m.id].name">
                  </div>
                </div>

                <div class="row">
                  <div class="small-12 columns inputLine">
                    <label>Label: </label>
                    <input type="text" class="label len-{{editingRepo[m.id].label.length}}" ng-model="editingRepo[m.id].label">
                  </div>
                </div>

                <div class="row">
                  <div class="small-12 columns inputLine">
                    <label>URL: </label>
                    <input type="text" class="label len-{{editingRepo[m.id].url.length}}" ng-model="editingRepo[m.id].url">
                    <select ng-model="editingRepo[m.id].provider" for="right-label" class="right inline" style="width: 20%">
                      <option value="apt">apt</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="small-12 columns">
                    <a href="#" class="button alert removeButton left" ng-click="deleteRepo(m)">Remove repository</a>
                  </div>
                </div>

                <div class="icons">
                  <a ng-click="saveRepo(editingRepo[m.id])" class="fi-save saveButton" href="#"></a>
                  <a ng-click="cancelEditRepo(m)" class="fi-x exitButton" href="#"></a>
                </div>

              </div>


            </div>
          </span>
        </div>
      </div>
    </div>

    <div class="centered-text settingsRow animate-show ng-hide" ng-show="show.nav == 'config'">
      <div class="row">
        <div class="small-12 large-12 columns">
          <h4>Settings</h4>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-4 columns">
          <label>Host</label>
          <input type="text" ng-model="ponyExpressHost" ng-change="loadData()">
        </div>
        <div class="small-0 large-8 columns">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 large-6 columns">
        <div class="row mainContents">
          <div class="small-12 large-12 columns">
            <h4>Nodes <small>({{nodes.length}})</small></h4>
          </div>
        </div>

        <div class="row collapse">
          <div class="small-3 large-2 columns">
            <span class="prefix">Node:</span>
          </div>
          <div class="small-7 large-8 columns">
            <input type="text" ng-model="nodeQuery" ng-change="queryNode()" placeholder="what are you looking for?">
          </div>
          <div class="small-2 large-2 columns"></div>
        </div>

        <div class="row nodeList expanded-{{nodeVisible[n.id]}} selected-{{nodeSelected[n.id]}}" data-ng-repeat="n in nodes | filter:nodeQuery">
          <div class="columns" ng-click="selectNode(n.id)" >
            <div class="row">
              <div class="small-11 large-11 columns">{{n.id}}</div>
              <div class="small-1 large-1 columns" ng-show="nodeVisible[n.id] && node[n.id] === undefined">
                <span class="loading"></span>
              </div>
            </div>
            <!-- Detailed information on a node -->
            <div class="row nodeDetails" ng-show="nodeVisible[n.id] && node[n.id] !== undefined">
              <div class="columns" ng-show="node[n.id] !== undefined && node[n.id].packages.length === 0">
                <div class="row">
                  <div class="columns">no packages found</div>
                </div>
              </div>
              <div class="columns" ng-show="node[n.id] !== undefined && node[n.id].packages.length > 0">
                <div class="row">
                  <div class="columns">{{node[n.id].packages.length}} packages</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="small-12 large-6 columns">
        <div class="row mainContents">
          <div class="small-12 large-12 columns">
            <h4>
              Packages
              <small>({{packages.length}})</small>
              <small><a data-reveal-id="repoSelection" href="#">compare to {{selectedReposIndicator}}</a></small>
            </h4>

            <div id="repoSelection" class="reveal-modal" data-reveal>
              <div class="row">
                <div class="medium-6 small-12 columns">
                  <h3>Select by Name</h3>
                  <ul>
                    <span ng-show="repos.length === undefined || repos.length === 0" >
                      <li><a href="#">no repositories found</a></li>
                    </span>
                    <span data-ng-repeat="m in repos" ng-show="repos.length > 0">
                      <li class="item selected-{{repoSelected[m.id] !== undefined}}" ng-click="selectRepo(m)"><a href="#">{{m.name}}</a></li>
                    </span>
                  </ul>
                </div>

                <div class="medium-6 small-12 columns">
                  <h3>Select by Label</h3>
                  <ul>
                    <span ng-show="repos.length === undefined || repos.length === 0" >
                      <li><a href="#">no labels found</a></li>
                    </span>
                    <span data-ng-repeat="l in repoLabels()" ng-show="repoLabels().length > 0">
                      <li class="item selected-{{l == repoSelectedLabel}}" ng-click="selectRepoLabel(l)"><a href="#">{{l}}</a></li>
                    </span>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row collapse">
          <div class="small-3 large-2 columns">
            <span class="prefix">Package:</span>
          </div>
          <div class="small-7 large-8 columns">
            <input type="text" ng-model="packageQuery" ng-change="queryPackage()" placeholder="which do you want?">
          </div>
          <div class="small-2 large-2 columns"></div>
        </div>

        <div class="row packageList expanded-{{packageVisible[p.name]}}" data-ng-repeat="p in packages | filter:packageQuery">
          <div class="columns packageItem outdated-{{p.isOutdated}} selected-{{packageSelected[p.name]}}">

            <div class="row packageHeadline" ng-click="selectPackage(p)">
              <div class="small-11 large-11 columns">{{p.name}}
                <span ng-show="{{p.outdated_info !== undefined}}" class="outdated-info">({{p.outdated_info}})</span>
              </div>
              <div class="small-1 large-1 columns" ng-show="packageFetching[p.name]">
                <span class="loading"></span>
              </div>
            </div>
            <!-- Detailed information on a package -->
            <div class="row packageDetails" ng-show="packageVisible[p.name] || packageSelected[p.name]">
              <div class="columns" ng-show="p.versions.length === 0">
                <div class="row">
                  <div class="columns">no versions found</div>
                </div>
              </div>
              <div class="columns" ng-show="p.versions.length > 0">
                <div class="row" data-ng-repeat="pv in p.versions">
                  <div class="columns" ng-click="selectPackageVersion(p,pv)">{{pv.version}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  
    <!-- build:js scripts/modules.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/foundation/js/foundation.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
