<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Postrider</title>

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/app.css" />
    <link rel="stylesheet" href="styles/foundation-icons.css" />
    <!-- endbuild -->

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  </head>
  <body ng-app="postriderApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

  <div ng-controller="MainCtrl">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Postrider</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a ng-click="showConfig = !showConfig" class="fi-widget settingsButton" href="#"></a></li>
        </ul>
      </section>
    </nav>

    <div class="centered-text settingsRow animate-show ng-hide" ng-show="showConfig">
      <div class="row">
        <div class="small-12 large-12 columns">
          <h4>Settings</h4>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-4 columns">
          <label>Host</label>
          <input type="text" ng-model="ponyExpressHost" ng-change="loadData()">
        </div>
        <div class="small-0 large-8 columns">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 large-6 columns">
        <div class="row mainContents">
          <div class="small-12 large-12 columns">
            <h4>Nodes <small>({{nodes.length}})</small></h4>
          </div>
        </div>

        <div class="row collapse">
          <div class="small-3 large-2 columns">
            <span class="prefix">Node:</span>
          </div>
          <div class="small-7 large-8 columns">
            <input type="text" ng-model="nodeQuery" ng-change="queryNode()" placeholder="what are you looking for?">
          </div>
          <div class="small-2 large-2 columns"></div>
        </div>

        <div class="row nodeList expanded-{{nodeVisible[n.id]}}" data-ng-repeat="n in nodes | filter:nodeQuery">
          <div class="columns" ng-click="showNode(n.id)" >
            <div class="row">
              <div class="small-12 large-12 columns">{{n.id}}</div>
            </div>
            <!-- Detailed information on a node -->
            <div class="row" ng-show="nodeVisible[n.id]">
              <div class="columns" ng-show="node[n.id] === undefined">
                <div class="row">
                  <div class="columns"><div class="loading"></div></div>
                </div>
              </div>
              <div class="columns" ng-show="node[n.id] !== undefined && node[n.id].packages.length === 0">
                <div class="row">
                  <div class="columns">no packages found</div>
                </div>
              </div>
              <div class="columns" ng-show="node[n.id] !== undefined && node[n.id].packages.length > 0">
                <div class="row">
                  <div class="columns">{{node[n.id].packages.length}} packages</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="small-12 large-6 columns">
        <div class="row mainContents">
          <div class="small-12 large-12 columns">
            <h4>Packages <small>({{packages.length}})</small></h4>
          </div>
        </div>

        <div class="row collapse">
          <div class="small-3 large-2 columns">
            <span class="prefix">Package:</span>
          </div>
          <div class="small-7 large-8 columns">
            <input type="text" ng-model="packageQuery" ng-change="queryPackage()" placeholder="which do you want?">
          </div>
          <div class="small-2 large-2 columns"></div>
        </div>

        <div class="row packageList" data-ng-repeat="p in packages | filter:packageQuery">
          <div class="columns" ng-click="showPackage(p)">

            <div class="row">
              <div class="columns">{{p.name}}</div>
            </div>
            <!-- Detailed information on a node -->
            <div class="row packageDetails" ng-show="packageVisible[p.name]">
              <div class="columns" ng-show="p.versions.length === 0">
                <div class="row">
                  <div class="columns">no versions found</div>
                </div>
              </div>
              <div class="columns" ng-show="p.versions.length > 0">
                <div class="row" data-ng-repeat="pv in p.versions">
                  <div class="columns">{{pv.version}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  
    <!-- build:js scripts/modules.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/foundation/js/foundation.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
